body {
    background-color: #F6F8FF;
    color: #4B6A9B;
    font-family: 'Space Mono', monospace;
    margin: 0;
}

@media  screen and (max-width: 375px) {
    body {
        padding: 0;
    }

    #card {
        padding: 31px 24px 79px;
        margin: auto;
    }

    /* Header section mobile*/

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }

    h1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 38.51px;
        margin: 0;
        color: #222731;
        letter-spacing: -1.4px;;
    }

    #switch-mode {
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        text-align: left;
        letter-spacing: 2.5px;
        padding-right: 36px;
        margin: 0;
        color: #4B6A9B;
        background: url('assets/images/icon-moon.svg') no-repeat right;
        border: none;
        font-family: 'Space Mono', monospace;
    }

    /* Form section mobile */

    form {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        padding: 6.5px 0 7.5px;
    }

    #input-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    #text-input:focus-visible {
        background: none;
        outline: none;
    }

    #text-input:-internal-autofill-selected {
        background: none !important;
        color: #4B6A9B;        
    }

    #search-button {
        border-radius: 10px;
        border: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        padding: 12.5px 14px 12.5px 18px;
        margin: 0 7px;
        font-family: 'Space Mono', monospace;
    }

    .button {
        background: #0079FF;
    }

    .error-button {
        background: #60ABFF;
    }

    #text-input {
        font-size: 13px;
        line-height: 25px;
        color: #4B6A9B;
        border: none;
        margin-left: 8.95px;
        padding: 0;
        font-family: 'Space Mono', monospace;
        min-width: 0;
    }

    #text-input::placeholder {
        color: #4B6A9B;
    }

    .no-user {
        position: absolute;
        font-size: 15px;
        line-height: 22px;
        color: #F74646;
        font-weight: bold;
        right: 97px;
        top: -2px;
        margin: 13px 0;
    }

    #search-icon {
        margin-left: 16px;
    }

    /* Info section mobile */

    #info-section {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        margin-top: 16px;
        padding: 32px 24px 48px;
    }

    #header-section {
        width: 70px;
        float: left;
        margin-right: 41px;
    }

    #user-name {
        margin-top: 2px;
    }

    #name {
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
        color: #2B3442;
        margin: 0;
    }

    #user-company {
        font-size: 13px;
        line-height: 19px;
        color: #0079FF;
        margin: 0 0 6px;
    }

    #creating-date {
        font-size: 13px;
        line-height: 19px;
        color: #697C9A;
        margin: 0;
    }

    #avatar {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    .user-bio {
        font-size: 13px;
        line-height: 25px;
        margin: 33px 0 23px;
    }

    .without-user-bio {
        opacity: 0.75;
        font-size: 13px;
        line-height: 25px;
        margin: 33px 0 23px;
    }

    #account-info {
        background: #F6F8FF;
        border-radius: 10px;
        padding: 18px 0 19px;
        display: flex;
        justify-content: center;
        margin: 0 0 24px;
        flex-wrap: wrap;
    }

    .info-number {
        text-align: center;
        padding: 0 15px;
    }

    .small-headings {
        font-size: 11px;
        line-height: 16px;
        margin:0 0 8px;
    }

    .num-info {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #2B3442;
        margin: 0;
    }

    .info {
        margin: 0 0 16px;
    }

    .image, .not-available-img {
        display: inline;
        float: left;
        margin-right: 13px;
        width: 20px;
    }

    .not-available-img {
        opacity: 0.5;
    }

    .common-info, .not-available {
        font-size: 13px;
        line-height: 19px;
        text-decoration: none;
        color: #4B6A9B;
        ;
    }

    .not-available {
        opacity: 0.5;
    }

    #img-loc {
        height: 20px;
        width: 13.75px;
        margin-right: 19.25px;
    }

    #img-web {
        height: 19.99px;
    }

    #img-twit {
        width: 20px;
        height: 16.25px;
    }
    
    #img-com {
        height: 19.85px;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
   

    #card {
        margin: 140px auto 236px;
        max-width: 573px;
    }

    /* Header section tablet */

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }

    h1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 38.51px;
        margin: 0;
        color: #222731;
        letter-spacing: -1.4px;;
    }

    #switch-mode {
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        text-align: left;
        letter-spacing: 2.5px;
        padding-right: 36px;
        margin: 0;
        color: #4B6A9B;
        background: url('assets/images/icon-moon.svg') no-repeat right;
        border: none;
        font-family: 'Space Mono', monospace;
    }

    /* Form section tablet */

    form {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        padding: 9.5px 10px 9.5px 32px;
    }

    #input-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    #text-input:focus-visible {
        background: none;
        outline: none;
    }

    #text-input:-internal-autofill-selected {
        background: none !important;
        color: #4B6A9B;        
    }

    #search-button {
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        padding: 12.5px 23px 13.5px 24px;
        margin: 0;
        font-family: 'Space Mono', monospace;
    }

    .button {
        background: #0079FF;
    }

    .error-button {
        background: #60ABFF;
    }

    #text-input {
        font-size: 18px;
        line-height: 25px;
        color: #4B6A9B;
        border: none;
        margin-right: auto;
        padding: 0;
        font-family: 'Space Mono', monospace;
        min-width: 0;
    }

    #text-input::placeholder {
        color: #4B6A9B;
    }

    .no-user {
        position: absolute;
        font-size: 15px;
        line-height: 22px;
        color: #F74646;
        font-weight: bold;
        right: 134px;
        top: -2px;
        margin: 13px 0;
    }

    #search-icon {
        margin-right: 24px;
        width: 24px;
        height: 24px;
    }

    /* Info section tablet */

    #info-section {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        margin-top: 24px;
        padding: 40px;
    }

    #header-section {
        width: 117px;
        float: left;
        margin-right: 41px;
    }

    #user-name {
        margin-top: 16px;
    }

    #name {
        font-weight: bold;
        font-size: 26px;
        line-height: 39px;
        color: #2B3442;
        margin: 0;
    }

    #user-company {
        font-size: 16px;
        line-height: 24px;
        color: #0079FF;
        margin: 0 0 6px;
    }

    #creating-date {
        font-size: 15px;
        line-height: 22px;
        color: #697C9A;
        margin: 0;
    }

    #avatar {
        height: 117px;
        width: 117px;
        border-radius: 50%;
    }

    .user-bio {
        font-size: 15px;
        line-height: 25px;
        margin: 31px 0 32px;
    }

    .without-user-bio {
        opacity: 0.75;
        font-size: 15px;
        line-height: 25px;
        margin: 31px 0 32px;
    }

    #account-info {
        background: #F6F8FF;
        border-radius: 10px;
        padding: 15px 32px 17px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px;
    }

    .info-number {
        text-align: center;
        padding: 0;
        margin-right: 35px;
    }

    .small-headings {
        font-size: 13px;
        line-height: 19px;
        margin:0 0 1px;
    }

    .num-info {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        color: #2B3442;
        margin: 0;
        text-align: left;
    }

    .info {
        margin: 0 0 19px;
    }

    .footer-links {
        flex: 1;
    }

    .image, .not-available-img {
        display: inline;
        float: left;
        margin-right: 13px;
        width: 20px;
    }

    .not-available-img {
        opacity: 0.5;
    }

    .common-info, .not-available {
        font-size: 15px;
        line-height: 22px;
        text-decoration: none;
        color: #4B6A9B;
    }

    p.common-info {
        margin: 0;
    }

    p.not-available {
        opacity: 0.5;
        margin: 0;
    }

    #img-loc {
        height: 20px;
        width: 13.75px;
        margin-right: 19.25px;
    }

    #img-web {
        height: 19.99px;
    }

    #img-twit {
        width: 20px;
        height: 16.25px;
    }
    
    #img-com {
        height: 19.85px;
    }

    #footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 769px) {
    #card {
        margin: 144px auto 170px;
        max-width: 730px;
    }
    
    /* Header section tablet */
    
    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }
    
    h1 {
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        margin: 0;
        color: #222731;
        letter-spacing: -1.4px;;
    }
    
    #switch-mode {
        font-weight: 700;
        font-size: 13px;
        line-height: 19px;
        text-align: left;
        letter-spacing: 2.5px;
        padding-right: 36px;
        margin: 0;
        color: #4B6A9B;
        background: url('assets/images/icon-moon.svg') no-repeat right;
        border: none;
        font-family: 'Space Mono', monospace;
    }
    
    #switch-mode:hover {
        color: #222731;
        filter: invert(12%) sepia(9%) 
        saturate(1617%) hue-rotate(181deg) brightness(16%) contrast(90%);
    }
    
    /* Form section tablet */
    
    form {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        padding: 9.5px 10px 9.5px 32px;
    }
    
    #input-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    #text-input:focus-visible {
        background: none;
        outline: none;
    }
    
    #text-input:-internal-autofill-selected {
        background: none !important;
        color: #4B6A9B;        
    }
    
    #search-button {
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        padding: 12.5px 23px 13.5px 24px;
        margin: 0;
        font-family: 'Space Mono', monospace;
    }
    
    .button {
        background: #0079FF;
    }
    
    .error-button {
        background: #60ABFF;
    }
    
    #search-button:hover {
        background: #60ABFF;
    }
    
    #text-input {
        font-size: 18px;
        line-height: 25px;
        color: #4B6A9B;
        border: none;
        margin-right: auto;
        padding: 0;
        font-family: 'Space Mono', monospace;
        min-width: 0;
    }
    
    #text-input::placeholder {
        color: #4B6A9B;
    }
    
    .no-user {
        position: absolute;
        font-size: 15px;
        line-height: 22px;
        color: #F74646;
        font-weight: bold;
        right: 134px;
        top: -2px;
        margin: 13px 0;
    }
    
    #search-icon {
        margin-right: 24px;
        width: 24px;
        height: 24px;
    }
    
    /* Info section tablet */
    
    #info-section {
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        margin-top: 24px;
        padding: 48px;
    }
    
    #header-section {
        width: 117px;
        min-height: 323px;
        float: left;
        margin-right: 37px;
    }

    #user-name {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 63px;
        margin: 0;
    }
    
    #name {
        font-weight: bold;
        font-size: 26px;
        line-height: 39px;
        color: #2B3442;
        margin: 0;
    }
    
    #user-company {
        font-size: 16px;
        line-height: 24px;
        color: #0079FF;
        margin: 0;
    }
    
    #creating-date {
        font-size: 15px;
        line-height: 22px;
        color: #697C9A;
        margin: 9px 0 0;
        align-self: flex-end;

    }
    
    #avatar {
        height: 117px;
        width: 117px;
        border-radius: 50%;
    }
    
    .user-bio {
        font-size: 15px;
        line-height: 25px;
        margin: 20px 0 32px;
    }
    
    .without-user-bio {
        opacity: 0.75;
        font-size: 15px;
        line-height: 25px;
        margin: 20px 0 32px;
    }
    
    #account-info {
        background: #F6F8FF;
        border-radius: 10px;
        padding: 15px 32px 17px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 37px;
    }
    
    .info-number {
        text-align: center;
        padding: 0;
        margin-right: 35px;
    }
    
    .small-headings {
        font-size: 13px;
        line-height: 19px;
        margin:0 0 1px;
    }
    
    .num-info {
        font-weight: bold;
        font-size: 22px;
        line-height: 33px;
        color: #2B3442;
        margin: 0;
        text-align: left;
    }
    
    .info {
        margin: 0 0 19px;
    }
    
    .footer-links {
        flex: 1;
    }

    div.info:last-child {
        margin: 0;
    }
    
    .image, .not-available-img {
        display: inline;
        float: left;
        margin-right: 13px;
        width: 20px;
    }
    
    .not-available-img {
        opacity: 0.5;
    }
    
    .common-info, .not-available {
        font-size: 15px;
        line-height: 22px;
        text-decoration: none;
        color: #4B6A9B;
    }
    
    p.common-info {
        margin: 0;
    }
    
    p.not-available {
        opacity: 0.5;
        margin: 0;
    }
    
    #img-loc {
        height: 20px;
        width: 13.75px;
        margin-right: 19.25px;
    }
    
    #img-web {
        height: 19.99px;
    }
    
    #img-twit {
        width: 20px;
        height: 16.25px;
    }
    
    #img-com {
        height: 19.85px;
    }
    
    #footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

