<article id="info-section">
    <div id="header-section">
        <img id="avatar" src="{{ userInfo.avatar_url }}" alt="Avatar of {{ userInfo.name }}">
    </div>
    <div id="user-name">
        <h2 id="name">{{ userInfo.name || userInfo.company}}</h2>
        <p id="user-company">{{ userInfo.company }}</p>
        <p id="creating-date">Joined {{ parseUserAccDate(userInfo.created_at) }}</p>
    </div>
    <p class="{{userInfo.bio ? 'user-bio' : 'without-user-bio'}}">{{ userInfo.bio || 'This profile has no bio'}}</p>
    <div id="account-info">
        <div class="info-number">
            <p class="small-headings">Repos</p>
            <p class="num-info">{{userInfo.public_repos}}</p>
        </div>
        <div class="info-number">
            <p class="small-headings">Followers</p>
            <p class="num-info">{{userInfo.followers}}</p>
        </div>
        <div class="info-number">
            <p class="small-headings">Following</p>
            <p class="num-info">{{userInfo.public_gists}}</p>
        </div>
    </div>
    <div id="footer-info">
        <div class="footer-links">
            <div class="info">
               <img class="{{userInfo.location ? 'image' : 'not-available-img'}}"
               id="img-loc" src="../../../assets/images/icon-location.svg" 
              alt="Location of User {{ userInfo.name }}">
              <p class="{{userInfo.location ? 'common-info' : 'not-available'}}">
                 {{ userInfo.location || 'Not Available'}}
             </p>
             </div>
            <div class="info">
                <img class="{{userInfo.blog ? 'image' : 'not-available-img'}}" 
                id="img-web" src="../../../assets/images/icon-website.svg"
                alt="Location of User {{ userInfo.name }}">
                <a *ngIf="userInfo.blog else template"
                href="{{ userBlogLink(userInfo.blog) }}" 
                class="common-info">
                  {{ userInfo.blog }}
                </a>
                <ng-template #template>
                    <p class="not-available">Not Available</p>
                </ng-template>
             </div>
        </div>
        <div class="footer-links">
            <div class="info">
                <img class="{{userInfo.twitter_username ? 'image' : 'not-available-img'}}" 
                id="img-twit" src="../../../assets/images/icon-twitter.svg"
                alt="Location of User {{ userInfo.name }}">
                <a *ngIf="userInfo.twitter_username else template" 
                href="{{ userTwitterLink(userInfo.twitter_username) }}"
                class="common-info">
                  {{ userInfo.twitter_username }}
                </a>
                <ng-template #template>
                    <p class="not-available">Not Available</p>
                </ng-template>
            </div>
            <div class="info">
                <img class="{{userInfo.company ? 'image' : 'not-available-img'}}" 
                id="img-com" src="../../../assets/images/icon-company.svg"
                 alt="Location of User {{ userInfo.name }}">
                <a *ngIf="userInfo.company else template" 
                href="{{ userCompanyLink(userInfo.company) }}"
                class="common-info">
                    {{ userInfo.company }}
                </a>
                <ng-template #template>
                    <p class="not-available">Not Available</p>
                </ng-template>
            </div>
        </div>
    </div>
</article>